@use '../../../../styles/sass/variables.scss' as v;

.form_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;

    width: 60%;
    height: 100%;
    .text_form{
        text-align: center;
        .sub_title{
            color: v.$light-gray;
            
            font-size: 16px;
        }
    }
    
    .form{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 24px;

        width: 400px;

        padding: 20px;
    }

    .link_register{
        color: v.$blue;

        font-weight: bold;
        font-size: 16px;
        text-align: center;
    }
}