@use '../../../../../../../styles/sass/variables.scss' as v;
@import '../../../../../../../styles/sass/mixins.scss';

.progress_container{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;

    .progress_number{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px;

        width: 80px;
        height: 80px;

        border: 3px solid v.$gray;
        border-radius: 100%;

        color: v.$gray;
    }

    .progress_line{
        width: 90px;

        border:1px solid v.$gray;
    }

    @include media(mobile){
        .progress_number{
            width: 50px;
            height: 50px;
        }
    }
}