@use '../../../styles/sass/variables.scss' as v;
@import '../../../styles/sass/mixins.scss';

.form_contaienr{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;

    width: 1051px;
    height: 863px;

    margin: auto;
    padding: 40px;
    border-radius: 20px;

    background-color: white;

    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);

    .form{
        display: flex;
        flex-direction: column;
        gap: 16px;

        min-width: 240px;
        width: 80%;

        .desc_textarea{
            width: 100%;
            max-width: 100%;

            padding: 10px;

            border: solid 3px v.$light-gray;
            border-radius: 20px;
        }
        .telefone_container{
            display: flex;
            gap: 8px;

            .select{
                background-color: white;
                
                border: solid 3px v.$light-gray;
                border-radius: 10px;
    
                padding: 10px;
            }

            & :first-child{
                width: 10%;
            }
        }
    }

    @include media(tablet, mobile){
        width: 100%;
        height: 100%;

        padding: 20px;
    }
}