@use '../../../../../../../styles/sass/variables.scss' as v;

.personalInformation_form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
    
    width: 100%;

    .two_inputs{
        display: flex;
        gap: 16px;

        .select{
            background-color: white;
            
            border: solid 3px v.$light-gray;
            border-radius: 10px;

            padding: 10px;
        }
    }
}