.personalInformation_form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
    
    width: 100%;

    .two_inputs{
        display: flex;
        gap: 16px;
    }
}