@import '../../../styles/sass/mixins.scss';

.form_container{
    display: flex;
    justify-content: center;

    width: 60%;

    text-align: center;

    @include media (mobile){
        width: 100%;
        padding: 8px;
    }
}